html *{
	font-family:'Lato', sans-serif;
}

.justify { text-align: justify }

.last{
	text-align:left;
}
.header{
	font-weight:bold;
}
.header-slim{
	text-align:justify;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}
.yellow-button{
	width:210px;
	height:60px;
	background-color:#efae1d;
	color:white;
	text-align:center;
	border-radius: 5px;
	font-size:1.125em;
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.5);
	float:right;
	padding-top:7px;
	padding-bottom:7px;
	margin-right:50px;
	font-weight:400;
}
.one-line{
	line-height:2.3;
	font-size:18px;
}
.dark-line{
	background-color:#494949;
	width:600px;
	height:1px;
	margin-left:-150px;
}
.dark-circle{
	background-color:#494949;
	height:5px;
	width:5px;
	border-radius:100%;
	margin-top:-3px;
	margin-left:450px;
}
.image{
	margin-top:-300px;
	margin-bottom:100px;
}
.logo{
	margin:50px;
}
.logo-left{
	margin-top:200px;
}
#section-quees{
	margin-top:-5px;
	background: url(../images/quees_back.png) no-repeat top;
	background-color:#d3d3d3;
	background-attachment: relative;
	background-size: cover
	background-position: center center;
	min-height: 450px;
	width: 100%;
}

#section-hojas{
	background: url(../images/pages_front.png) no-repeat top;
	background-color:#dddbdd;
	text-align:center;
	background-position: center;
	min-height: 18em;
	width: 100%;
	background-size:cover;
	color:#fff;
	margin-bottom:-0.5em;
}
#section-proyectos{
	background-color:#ffffff;
	padding-top:350px;
	padding-bottom:250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 900px;
	width: 100%;
	background-size: cover;
	color:#3d3d3d;
	margin-bottom:0px;
}
#section-aliados{
	margin-top:-140px;
	padding-top:600px;
	padding-bottom:300px;
	background-color:#dddbdd;
	text-align:center;
	min-height: 700px;
	width: 100%;
	background-size: cover;
	color:#3d3d3d;
}
#section-reunion{
	background: url(../images/reunion_back.png) no-repeat top;
	padding-top:75px;
	text-align:center;
	background-attachment: relative;
	background-position: center 12em;
	min-height: 700px;
	width: 100%;
	background-size: cover;
	color:#FFF;
}
#section-meetup{
	width:100%;
	padding-top:250px;
	background:#0990cc;
}
#section-footer{
	background: url(../images/ciudad_back.png) no-repeat scroll top;
	padding-top:6em;
	background-position:0px -3em;
	text-align:center;
	background-attachment: relative;
	margin-top:0px;
	min-height: 58em;
	width: 100%;
	background-size: contain;
	color:#FFF;
}
#div-blurry{
	background: url(../images/blurry.png) no-repeat top;
	background-attachment: relative;
	background-position: center center;
	background-size: contain;
	min-height:550px;
	width:100%;
	margin-top:-345px;
	position:relative;
}
#div-proyectos{
	margin-top:200px;
}
#div-quees{
	background: url(../images/quees_front.png) no-repeat top;
	background-attachment: relative;
	background-position: center center;
	background-size: contain;
	min-height:550px;
	width:100%;
	margin-top:-289px;
}

#div-reunion{
	background: url(../images/reunion_front.png) no-repeat top;
	padding-top:-10em;
	padding-bottom:45em;
	text-align:center;
	background-attachment: scroll;
	background-position: center 10em;
	height: 500px;
	width:100%;
	background-size: cover;
	color:#3d3d3d;
}

@media (max-width:991px){
	#side-bar{
		font-weight: 100;
		padding-top:150px;
		padding-right: 120px;
		padding-left:200px;
		position:relative;
		z-index:1;
		float:left;
		color:white;
		margin-right:-150px;
		
	}
}
@media (min-width:992px){
	#side-bar{
	font-weight: 100;
	padding-top:150px;
	padding-right: 120px;
	padding-left:200px;
	position:absolute;
	z-index:1;
	float:right;
	color:white;
}
}

.side-bar-button{
	position:relative;
	width:60px;
	height:60px;
	border-radius:100%;
	margin-bottom:10px;
	clear:both;
	float:right;
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.5);
}

.carousel{
	height:50em;
}
#carousel1-back{
	background-color:#d3d3d3;
	background: url(../images/carousel1_back.png) no-repeat fixed top;
	background-attachment: relative;
	background-position: center -2em;
	background-size: cover;
	color:#FFF;
}
#carousel1-mid{
	background: url(../images/carousel1_mid.png) no-repeat top;
	background-size:contain;
}
#carousel1-front{
	background: url(../images/carousel1_front.png) no-repeat top;
	background-size:contain;
}

#carousel2-back{
	background-color:#d3d3d3;
	background: url(../images/carousel2_back.png) no-repeat fixed top;
	background-attachment: relative;
	background-position: center -2em;
	background-size: cover;
	color:#FFF;
}
#carousel2-mid{
	background: url(../images/carousel2_mid.png) no-repeat top;
	background-size: cover;
}
#carousel2-front{
	background: url(../images/carousel2_front.png) no-repeat top;
	background-size:contain;
}
#carousel3-back{
	background-color:#d3d3d3;
	background: url(../images/carousel3_back.png) no-repeat fixed top;
	background-attachment: relative;
	background-position: center -2em;
	background-size: cover;
	color:#FFF;
}
#carousel3-mid{
	background: url(../images/carousel3_mid.png) no-repeat top;
	background-size:contain;
}
#carousel3-front{
	background: url(../images/carousel3_front.png) no-repeat top;
	background-size: cover;
}
#carousel4-back{
	background-color:#d3d3d3;
	background: url(../images/carousel4_back.png) no-repeat fixed top;
	background-attachment: relative;
	background-position: center -2em;
	background-size: cover;
	color:#FFF;
}
#carousel4-mid{
	background: url(../images/carousel4_mid.png) no-repeat top;
	background-size:contain;
}
#carousel4-front{
	background: url(../images/carousel4_front.png) no-repeat top;
	background-size:contain;
}
#links ul{
	list-style: none;
}

#links ul li {
	display:inline-block;
	margin-left:1em;
	margin-right:1em;
}

.navbar-brand{
	margin-top:-10px;
	margin-left:-30px;
}

.navbar{
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.5);
	border:none;
}

#logo-bar-top{
	overflow:hidden;
	margin-top:5px;
	margin-left:50px;
	margin-right:50px;
	width:125px;
	height:115px !important;
	background-color:white;
	border-radius:100%;
	/*border-bottom-right-radius: 17% 75%;*/
	border-right:none;
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.5);
	
}
#logo-bar-image{
	width:200px;
	height:155px;
	background:url("../images/web_icons.png") -210px -260px;
	zoom:0.45;
	-moz-transform: scale(0.45);
	-moz-transform-origin: -35px -45px;
	margin-left:35px;
	margin-top:-155px;
	-ms-transform:translate(-20px, -20px);
}
#logo-bar-image-static{
	width:200px;
	height:155px;
	background:url("../images/web_icons.png") 0px -260px;
	zoom:0.45;
	-moz-transform: scale(0.45);
	-moz-transform-origin: -45px -45px;
	margin-left:45px;
	margin-top:55px;
	-ms-transform:translate(-25px, -20px);
}

.content{
	margin-top: -2em;
	padding-top:14em;
	height:65em;
	line-height:1.5;
	text-align:center;
	text-align:center;
	margin:auto;
}
#slider{
	font-weight: 600;
	display:inline-block;
}

#ciudad-back3{
	background: url(../images/ciudad_back3.png) no-repeat top;
	background-size:contain;
}
#ciudad-back2{
	background: url(../images/ciudad_back2.png) no-repeat top;
	background-size:contain;
}
#ciudad-back1{
	background: url(../images/ciudad_back1.png) no-repeat top;
	background-size:contain;
}
#ciudad-front{
	background: url(../images/ciudad_front.png) no-repeat top;
	background-size:contain;
	margin-bottom:-15em;
}
.footer-content{
	padding-top:7.5em;
	height:30em;
	width:100%;
	line-height:1.5;
	text-align:justify;
	margin:auto;
	background-color:#645e5e;
	font-size:1.3em;
	line-height:1.5;
}
#footer-logo{
	background:url("../images/web_icons.png") 0px 0px;
	background-position:0px -140px;
	width:410px;
	height:110px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:60px;
	
}
.footer-links {
	color:white;
	line-height: 2.5;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}
.footer-links > li{
	list-style:none;
	float: inherit;
	text-align:center;
	display:inline;
}
.footer-links >li:first-child{
	text-align:left;
	float:left;
}
.footer-links >li:last-child{
	text-align:right;
	float:right;
}
.footer-links>li:only-child{
	float:inherit;
	text-align:center;
}
.footer-links>li>a:link {color:#FFF;}      /* unvisited link */
.footer-links>li>a:visited {color:#FFF;}  /* visited link */
.footer-links>li>a:hover {
	color:#f36f23;
	text-decoration:none;}  /* mouse over link */
.footer-links>li>a:active {color:#0000FF;}

.footer-images{
	list-style:none;
	margin-left:20px;
}
.footer-images > li{
	float:left;
	margin:30px;
	
}
.footer-images >li:first-child{
	
}
.footer-images >li:last-child{
	margin-right:auto;
}
.ave{
	background:url("../images/flying_sprites.png") 0px 0px;
	background-position:0px -3120px;
	margin-left:-700px;
	width:800px;
	height:710px;
	zoom:50%;
	-moz-transform: scale(0.5);
	-moz-transform-origin: 0px 0px;
}
@-webkit-keyframes migracion{
	from{opacity:1;}
	to{opacity:0;}
}
@-webkit-keyframes migracion-alt{
	from{opacity:0;}
	to{opacity:1;}
}
@keyframes migracion{
	from{opacity:1;}
	to{opacity:0;}
}
@keyframes migracion-alt{
	from{opacity:0;}
	to{opacity:1;}
}
.square{
	width:200px;
	height:200px;
	background:black;
}
.aves{
	background:url("../images/flying_sprites.png") 0px 0px;
	background-position:0px -3930px;
	margin-left:70%;
	width:800px;
	height:500px;
	zoom:50%;
	-moz-transform: scale(0.5);
	-moz-transform-origin: 0px 0px;
	-webkit-animation: migracion 0.75s infinite; /* Opera 12+ */
	animation: migracion 0.75s infinite;
}
.aves-alt{
	background:url("../images/flying_sprites.png") 0px 0px;
	background-position:0px -4580px;
	margin-left:70%;
	margin-top:-500px;
	width:800px;
	height:500px;
	zoom:50%;
	-moz-transform: scale(0.5);
	-moz-transform-origin: 0px 0px;
	-webkit-animation: migracion-alt 0.75s infinite; /* Opera 12+ */
	animation: migracion-alt 0.75s infinite;
}
.avion{
	background:url("../images/flying_sprites.png") 0px 0px;
	background-position:0px -2850px;
	margin-left:-600px;
	width:800px;
	height:265px;
	zoom:50%;
	-moz-transform: scale(0.5);
	-moz-transform-origin: 0px 0px;
	position: absolute;
}
.planie{
	-webkit-transform:translate(500%, -400px);
	transform:translate(500%, -400px);	
	-moz-transform:translate(300%, -100px);
	-ms-transform:translate(500%, 400px);
	-webkit-transform:translate(500%, -400px);
	-o-transform:translate(500%, 400px);
	-webkit-transition: all 3s;
	transition: all 3s;
	-moz-transition: all 3s;
	-ms-transition: all 3s;
	-webkit-transition: all 3s;
	-o-transition: all 3s;
}
.birdie{
	-webkit-transform:translate(-100%, -200px);
	transform:translate(-100%, -200px);	
	-moz-transform:translate(-100%, 400px);
	-ms-transform:translate(-100%, 200px);
	-webkit-transform:translate(-100%, -200px);
	-o-transform:translate(-100%, -200px);
	-webkit-transition: all 5s;
	transition: all 5s;
	-moz-transition: all 5s;
	-ms-transition: all 5s;
	-webkit-transition: all 5s;
	-o-transition: all 5s;
}

.migrate{
	-webkit-transform:translate(-500%, 0px);
	transform:translate(-500%, 0px);	
	-moz-transform:translate(-500%, 0px);
	-ms-transform:translate(-500%, 0px);
	-webkit-transform:translate(-500%, 0px);
	-o-transform:translate(-500%, 0px);
	-webkit-transition: all 35s ease-in-out;
	transition: all 35s ease-in-out;
	-moz-transition: all 35s ease-in-out;
	-ms-transition: all 35s ease-in-out;
	-webkit-transition: all 35s ease-in-out;
	-o-transition: all 35s ease-in-out	;
}
.nav-button{
	width:160px;
}
.hoja-1{
	background:url("../images/flying_sprites.png") 0px 0px;
	background-position:-50px 0px;
	height:365px;
	width:310px;
}
.hoja-2{
	background:url("../images/flying_sprites.png") 0px 0px;
	background-position:-370px -40px;
	height:355px;
	width:400px;
}
.hoja-3{
	background:url("../images/flying_sprites.png") 0px 0px;
	background-position:-50px -360px;
	height:465px;
	width:330px;
}
.hoja-4{
	background:url("../images/flying_sprites.png") 0px 0px;
	background-position:-450px -680px;
	height:530px;
	width:350px;
}
.hoja-5{
	background:url("../images/flying_sprites.png") 0px 0px;
	background-position:0px -1160px;
	height:290px;
	width:490px;
}
.hoja-6{
	
}
.hoja-7{
	background:url("../images/flying_sprites.png") 0px 0px;
	background-position:0px -1620px;
	height:314px;
	width:470px;
}
.hoja-8{
	background:url("../images/flying_sprites.png") 0px 0px;
	background-position:0px -2044px;
	height:370px;
	width:800px;
}
.hoja-9{
	background:url("../images/flying_sprites.png") 0px 0px;
	background-position:0px -2345px;
	height:40px;
	width:280px;
}

.hoja-10{
	background:url("../images/flying_sprites.png") 0px 0px;
	background-position:-290px -2510px;
	height:330px;
	width:350px;
}

.hoja-11{
	background:url("../images/flying_sprites.png") 0px 0px;
	background-position:0px -2850px;
	height:400px;
	width:400px;
}


@media (min-width:768px){
/* EXPERIMENTAL */

/* Contenedor */
	#viewport
	{	
		-moz-perspective:500000;
		-moz-perspective-origin:50% 50%;
		-o-perspective:500000;
		-o-perspective-origin:50% 50%;
		-ms-perspective:500000;
		-ms-perspective-origin:50% 50%;
	   -webkit-perspective: 500000;
	   -webkit-perspective-origin: 50% 50%;
	   overflow-y:hidden;
	}

	/* Cubo */
	.links
	{
	  
	   text-align:center;
	   position:relative;
	   float:left;
	   width:160px;
	   height:70px;
	   line-height:70px;
	   /* Cube Transforms attributes */
	   -moz-transform-style: preserve-3d;
	   -moz-transform-origin: 50% 50%;
	   -moz-transition:all .5s;
	   -o-transform-style: preserve-3d;
	   -o-transform-origin: 50% 50%;
	   -o-transition:all .5s;
	    -ms-transform-style: preserve-3d;
	   -ms-transform-origin: 50% 50%;
	   -ms-transition:all .5s;
	   -webkit-transform-style: preserve-3d;
	   -webkit-transform-origin: 50% 50%;
	   -webkit-transition:all .5s;
	   transition:all .5s;
	}
	.links:hover{
	   -moz-transform: rotateX(90deg);
	   -moz-transform-origin: 50% 50%;
	   -moz-transition: all .5s;
	   -o-transform: rotateX(90deg);
	   -o-transform-origin: 50% 50%;
	   -o-transition: all .5s;
	    -ms-transform: rotateX(90deg);
	   -ms-transform-origin: 50% 50%;
	   -ms-transition: all .5s;
	   -webkit-transform: rotateX(90deg);
	   -webkit-transform-origin:  50% 50%;
	   -webkit-transition:all .5s;
	   transition:all .5s;
	}
	/* Cara del cubo */
	@media (min-width:1055px){
		.links div{
		    position: absolute;
		    width: 160px;
		    height: 70px;
		    opacity:1;
		    -o-transform-origin: 50% 50%;
		    -moz-transform-origin: 50% 50%;
		    -ms-transform-origin: 50% 50%;
		    -webkit-transform-origin: 50% 50%;
		}
	}
	@media (max-width:1054px){
		.links div{
		    position: absolute;
		    width: 100px;
		    font-size:12px;
		    height: 70px;
		    opacity:1;
		    -o-transform-origin: 50% 50%;
		    -moz-transform-origin: 50% 50%;
		    -ms-transform-origin: 50% 50%;
		    -webkit-transform-origin: 50% 50%;
		}
	}

	/* Cara frontal */
	.links-front{
	  	color:#264861;
		/*border-bottom: #3592cf solid 5px;*/
		height:70px;
		background:white;
		-o-transform: translateZ(35px);
		-moz-transform: translateZ(35px);
		-ms-transform: translateZ(35px);
	   -webkit-transform: translateZ(35px);
	}
	/* Cara lateral */
	.links-bottom{	
		font-weight:bold;
	  	color:white !important;
		background:#3592cf;
		height:70px;
			-o-transform: rotateX(-90deg) translateZ(30px);
			-ms-transform: rotateX(-90deg) translateZ(30px);
		-moz-transform: rotateX(-90deg);
	   -webkit-transform: rotateX(-90deg) translateZ(30px);
	}

	.active  #viewport  .links .links-front{
		border-bottom: #3592cf solid 5px;
		font-weight:bold;

	}
	.active #viewport .links .links-front a{
		color:#264861 !important;
	}
	.links .links-bottom a{
		color:white;
		text-decoration:none;
	}
	.links .links-front a{
		text-decoration:none;
	}
}

@media (min-width:1055px){
	.nav-justified > li{
		display:table-cell;
		width:1%;
	}
}
@media (max-width:1054px){
	.nav-justified > li{
		display:table-cell;
		width:0.5% !important;
	}
	.links{
	 	width:100px;
	}
}
@media (max-width:767px){
	.nav-justified{
		width:100px;
		border:none;
		
	}
	.nav-justified > li{
		display:block;
		clear:both;

		background:white;
		border:none;
		
	}
	#viewport{
		background:white;
		padding:10px;
		width:120px;
		height:60px;
		border-bottom: #3592cf solid 1px;

	}
	.links{
		
	}
	.container-fluid > .navbar-collapse{
		border:none;
		background:transparent;
		left:-250px;
		position: relative;
		margin-top:70px;
		z-index:1;
	}	
	.links-bottom {
		display:none;

	}
}
@media (max-width:990px){
	#side-bar{
		position: absolute; right: -80px;
	}
}
@media (max-width:680px){
	#side-bar{
		display:none;
	}
}



/*experimentando*/
#sidesview
{	
	right:0;
	margin-right:0px;
	margin:10px;
	-moz-perspective:500000;
	-moz-perspective-origin:50% 50%;
	-o-perspective:500000;
	-o-perspective-origin:50% 50%;
	-ms-perspective:500000;
	-ms-perspective-origin:50% 50%;
   -webkit-perspective: 500000;
   -webkit-perspective-origin: 50% 50%;

}

/* Cubo */
.sides
{
	
   text-align:center;
  width:240px;
	height:60px;
   line-height:70px;
   /* Cube Transforms attributes */
   -moz-transform-style: preserve-3d;
   -moz-transform-origin: 50% 50%;
   -moz-transition:all .5s;
   -o-transform-style: preserve-3d;
   -o-transform-origin: 50% 50%;
   -o-transition:all .5s;
    -ms-transform-style: preserve-3d;
   -ms-transform-origin: 50% 50%;
   -ms-transition:all .5s;
   -webkit-transform-style: preserve-3d;
   -webkit-transform-origin: 50% 50%;
   -webkit-transition:all .5s;
   transition:all .5s;
}
.sides:hover{
   -moz-transform: rotateY(90deg);
   -moz-transform-origin: 50% 50%;
   -moz-transition: all .5s;
   -o-transform: rotateX(90deg);
   -o-transform-origin: 50% 50%;
   -o-transition: all .5s;
    -ms-transform: rotateX(90deg);
   -ms-transform-origin: 50% 50%;
   -ms-transition: all .5s;
   -webkit-transform: rotateY(90deg);
   -webkit-transform-origin:  50% 50%;
   -webkit-transition:all .5s;
   transition:all .5s;
}
/* Cara del cubo */

/* Cara frontal */
.side-front{
  	width:60px;
	height:60px;
	border-radius:100%;
	margin-bottom:10px;
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.5);
	-o-transform: translateZ(-35px) translateX(60px);
	-moz-transform: translateZ(-35px) translateX(60px);
	-ms-transform: translateZ(-35px) translateX(60px);
   -webkit-transform: translateZ(-35px) translateX(60px);
}
/* Cara lateral */
.side-bottom{
	background-color:#25495f;
	border-bottom-left-radius:30px;
	border-top-left-radius:30px;
	border-bottom-right-radius:30px;
	border-top-right-radius:30px;
	width:240px;
	height:60px;
		-o-transform: rotateY(-90deg) translateY(-70px) translateZ(60px) translateX(-120px);
		-ms-transform: rotateY(-90deg) translateY(-70px) translateZ(60px) translateX(-120px);
	-moz-transform: rotateY(-90deg) translateY(-70px) translateZ(60px) translateX(-120px);
   -webkit-transform: rotateY(-90deg) translateY(-70px) translateZ(60px) translateX(-120px);
}

#redes{
	background:url("../images/web_icons.png") 0px 0px;
	background-position:0px 0px;
}

#carta{
	background:url("../images/web_icons.png") 0px 0px;
	background-position:-70px 0px;
}

#factory{
	background:url("../images/web_icons.png") 0px 0px;
	background-position:-140px 0px;
}

#formacion{
	background:url("../images/web_icons.png") 0px 0px;
	background-position:-210px 0px;
}

#meetup{
	background:url("../images/web_icons.png") 0px 0px;
	background-position:-280px 0px;
}

#workshops{
	background:url("../images/web_icons.png") 0px 0px;
	background-position:-350px 0px;
}
#redes-bottom{
	background:url("../images/web_icons.png") 0px 0px;
	background-position:0px -70px;
	background-color:#25495f;
	border-bottom-left-radius:30px;
	border-top-left-radius:30px;
}

#carta-bottom{
	background:url("../images/web_icons.png") 0px 0px;
	background-position:-70px -70px;
	border-bottom-left-radius:30px;
	border-top-left-radius:30px;
	background-color:#25495f;
}

#factory-bottom{
	background:url("../images/web_icons.png") 0px 0px;
	background-position:-140px -70px;
	border-bottom-left-radius:30px;
	border-top-left-radius:30px;
	background-color:#25495f;
}

#formacion-bottom{
	background:url("../images/web_icons.png") 0px 0px;
	background-position:-210px -70px;
	border-bottom-left-radius:30px;
	border-top-left-radius:30px;
	background-color:#25495f;
}

#meetup-bottom{
	background:url("../images/web_icons.png") 0px 0px;
	background-position:-280px -70px;
	border-bottom-left-radius:30px;
	border-top-left-radius:30px;
	background-color:#25495f;
}

#workshops-bottom{
	background:url("../images/web_icons.png") 0px 0px;
	background-position:-350px -70px;
	border-bottom-left-radius:30px;
	border-top-left-radius:30px;
	background-color:#25495f;
}



.text-sidebar,
.text-sidebar-ml{
	color:#FFF;
	background-color:#25495f;
	width:181px;
	height:60px;
	visibility:visible;
	margin-left:60px;
	border-top-right-radius: 30px;
	border-bottom-right-radius:30px;
	font-family:Lato;
	line-height:16px;
	padding-top:10px;
	font-weight: 100;
	font-size:24px;
	text-align: center;
}
.text-sidebar{
	line-height:35px;
}