body{
	overflow-x:hidden;
	font-family:'Lato', sans-serif !important;
	font-weight:300;
	background:white;
	color:#5d5d5d;
	font-size:16px;
}

#header{
	height:125px;
	padding:0;
	margin:0;
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.25);
	margin-bottom:200px;
}
.divCentered{
	margin-left:auto;
	margin-right:auto;
}
.backgroundBlue{
	background:#42bdf7;
}
#header p {
	text-align:center;
	font-size:2em;
	padding-top:35px;
	color:white;
	font-weight:300;
}
#headerCircle{
	margin-top:-20px;
	width:100px;
	height:100px;
	border-radius: 100%;
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.25);
}
#headerLine{
	width:1px;
	height:50px;
}
#headerSmallCircle{
	width:8px;
	height:8px;
	border-radius:100%;
}
#headerLargeCircle{
	width:20px;
	height:20px;
	border-radius:100%;
	opacity:0.5;
	margin-top:-14px;
}

.smallCircle{
    margin-top:5px;
    width:5px;
    height:5px;
    border-radius: 100%;
    background:#75cefa;
}
.mediumCircle{
    margin-top:3px;
    width:10px;
    height:10px;
    border-radius: 100%;
    background:#75cefa;
}
.largeCircle{
    width:15px;
    height:15px;
    border-radius: 100%;
    background:#75cefa;
}
.circlesLeft{
	position:absolute;
    left:-10%;
    top:50%;
}
.circlesRight{
	position:absolute;
    right:-8%;
    top:50%;
}
.circlesLeft2{
	position:absolute;
    left:-15%;
    top:97.5%;
}
.circlesRight2{
	position:absolute;
    right:-13%;
    top:97.5%;
}
.circlesLeft div, .circlesLeft2 div  {
    margin-left:5px;
    float:left; display:inline-block;
}
.circlesRight div, .circlesRight2 div{
    margin-right:3px;
    float:left; display:inline-block;
}

#square1 p {
	font-size: 2em;
	font-weight:300;
	text-align:center;
}
#city1{
	margin-top:100px;
	/*margin-bottom:100px;*/
	margin-bottom:200px;
}
#city1 ul{
	width:100%;
	padding:0;
	margin-bottom:95px;
	z-index:2 !important;
}
#city1 img{
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.25);
}
#city1 ul li{
	list-style: none;
	width:25%;
	height:100px;
	display:inline-block;
	float:left;
	/*z-index:2 !important;*/
}
/*#city1 div > div{
	width:150px;
	height:150px;
	border: 10px solid #63feb4;
	border-radius:100%;
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.25);
	position:absolute;
	z-index:5 !important;
}*/
#city1 ul li:nth-child(1){
	border-top: 10px solid #72febb;
}
#city1 ul li:nth-child(2){
	border-top: 10px solid #f85a5a;
	border-right:10px solid #f85a5a;
	z-index:2 !important;
}
#city1 ul li:nth-child(3){
	border-top: 10px solid #75cefa;
	border-left:10px solid #75cefa;
	/*z-index:2 !important;*/
}
#city1 ul li:nth-child(4){
	border-top: 10px solid #faf575;
}
#devlab{
	text-align:center;
}
#devlab h1{
	font-size:5em;
	font-weight:200;
}
#devlab p{
	font-size:2em;
}
#encendido ul{
	width:100%;
	/*padding:0;*/
	margin-right:auto;
	margin-left:auto;
	margin-bottom:95px;
	z-index:2 !important;
}
#encendido img{
	margin-right:auto;
	margin-left:auto;
}
#encendido ul li{
	list-style: none;
	width:50%;
	height:100px;
	display:inline-block;
	float:left;
	z-index:2 !important;
}
#encendido ul li:nth-child(1){
	border-top: 10px solid #72febb;
}
#encendido ul li:nth-child(2){
	border-top: 10px solid #faf575;
}
#greenCircle{
	position:absolute;
	margin-top:0px;
	border:10px solid #63feb4;
	width:150px;
	height:150px;
	border-radius: 100%;
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.25);
	left:37%;
}
#redCircle{
	margin-top:75px;
	border:10px solid #fe7474;
	width:150px;
	height:150px;
	border-radius: 100%;
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.25);
}
#hack{
	text-align:center;
}
#hack h1{
	font-size:5em;
	font-weight:200;
}
#hack p{
	font-size:2em;
}
@media (max-width: 1359px){
	body{
		font-size:12px !important;
	}
	#city1 ul li{
		height:50px;
	}
/*	#city1 div{
		width:75px;
		height:75px;
	}*/
	#city1 ul{
		margin-bottom:45px;
	}
}
@media (min-width:1400px) and (max-width:1700px){
	#square1{
		margin-top:100px;
	}
}
@media(min-width:1701px){
	#square1{
		margin-top:200px;
	}
}
@media (min-width:1400px){
    .circlesLeft{
        left:-15% !important;
    }
    .circlesRight{
        right:-15% !important;
    }
}
#meetup{
	margin-top:50px;
	text-align:center;
}
#meetup p{
	font-size:2em;
}
#meetupLine{
	width:1px;
	height:50px;
	margin-top:50px;
}
#meetupSmallCircle{
	width:8px;
	height:8px;
	border-radius:100%;
	margin-top:-50px;
}
#meetupLargeCircle{
	width:20px;
	height:20px;
	border-radius:100%;
	opacity:0.5;
	margin-top:-14px;
}
#meetupLineH{
	width:100%;
	height:1px;
	margin-top:35px;
}
#meetupLineV1{
	width:1px;
	height:50px;
	margin-top:0px;
	left:2.6%;
	position:absolute;
}
#meetupLineV2{
	width:1px;
	height:50px;
	margin-top:0px;
	right:2.6%;
	position:absolute;
}
#ccstech{
	width:150px;
	height:150px;
	float:left;
	border-radius: 100%;
	border:10px solid #fe7474;
	margin-top:50px;
	margin-left:-75px;
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.25);
}
#ccstech p{
	padding-top:30px;
	font-size:20px;
	font-weight:700;
}
#stgotech p{
	padding-top:40px;
	font-size:20px;
	font-weight:700;
}
#stgotech{
	width:150px;
	height:150px;
	float:right;
	border-radius: 100%;
	border:10px solid #63feb4;
	margin-top:50px;
	margin-right:-75px;
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.25);
}
#meetup ul{
	width:100%;
	padding:0;
	margin-bottom:-50px;
}
#meetup ul li{
	list-style: none;
	width:25%;
	display:inline-block;
	float:left;
}
#meetup ul li:nth-child(1){
	border-top: 10px solid #72febb;
}
#meetup ul li:nth-child(2){
	border-top: 10px solid #f85a5a;
}
#meetup ul li:nth-child(3){
	border-top: 10px solid #75cefa;
}
#meetup ul li:nth-child(4){
	border-top: 10px solid #faf575;
}
#email{
	width:150px;
	height:150px;
	border-radius: 100%;
	border:10px solid #75cefa;
	margin-bottom:100px;
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.25);
}
#personastexto{
	position:relative; 
	padding-top:150px;
}
#texto1{
	top:85px;
	left:25%;
	position:absolute;

}
#texto2{
	top:85px;
	left:35%;
	position:absolute;
}
#texto3{
	top:85px;
	left:50%;
	position:absolute;
}
#texto4{
	top:85px;
	left:60%;
	position:absolute;
}

#texto1.active{
	-webkit-animation:shake 1s 1s;
	-moz-animation: shake 1s 1s;
	-ms-animation: shake 1s 1s;
	animation: shake 1s 1s;
}
#texto2.active{
	-webkit-animation:shake 1s 3s;
	-moz-animation: shake 1s 3s;
	-ms-animation: shake 1s 3s;
	animation: shake 1s 3s;
}
#texto3.active{
	-webkit-animation:shake 1s 2s;
	-moz-animation: shake 1s  2s;
	-ms-animation: shake 1s 2s;
	animation: shake 1s 2s;
}
#texto4.active{
	-webkit-animation:shake 1s 4s;
	-moz-animation: shake 1s 4s;
	-ms-animation: shake 1s 4s;
	animation: shake 1s 4s;
}
#personasLine{
	width:1px;
	height:50px;
	margin-top:-40px;
}
#planta{
	margin-top:300px;
	position:relative;
}
#tallo{
	background:url(../images/infografia/desarrolladores/tallo.png) no-repeat bottom;
	position:absolute;
	left:49%;
	width:39px;
	height:0px;
	bottom:59px;
	z-index:1;
}
#tallo.active{
	-webkit-animation: tallo 5s infinite;
	-ms-animation: tallo 5s infinite;
	-moz-animation: tallo 5s infinite;
	animation: tallo 5s infinite;
}
#tallo.final{
	height:135px;
}
#flor{
	background:url(../images/infografia/desarrolladores/flor.png) no-repeat bottom;
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg) translateX(-200px);
	transform: rotate(-40deg);
	position:absolute;
	left:48%;
	width:70px;
	height:0px;
	bottom:180px;
	z-index:1;
}
#flor.active{
	-webkit-animation: flor 5s;
	-ms-animation: flor 5s;
	-moz-animation: flor 5s;
	animation: flor 5s;
}
#flor.final{
	height:70px;
	left:43.5%
}
#hoja1{
	background:url(../images/infografia/desarrolladores/hoja1.png) no-repeat left bottom;
	position:absolute;
	width:31px;
	height:0px;
	bottom:80px;
	left:44.5%;
}
#hoja1.active{
	-webkit-animation:hoja1 5s;
	-moz-animation:hoja1 5s;
	-ms-animation:hoja1 5s;
	animation:hoja1 5s;
}
#hoja1.final{
	height:44px;
}
#hoja2.active{
	-webkit-animation:hoja2 5s;
	-moz-animation:hoja2 5s;
	-ms-animation:hoja2 5s;
	animation:hoja2 5s;
}
#hoja2.final{
	height:44px;
}
#hoja2{
	background:url(../images/infografia/desarrolladores/hoja2.png) no-repeat bottom;
	position:absolute;
	width:31px;
	height:0px;
	bottom:150px;
	left:55.5%;
}
#redes{
	margin-top:100px;
	width:150px;
	height:150px;
	border-radius: 100%;
	border:10px solid #75cefa;
	margin-bottom:100px;
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.25);
}
#rigo{
	margin-top:300px;
	margin-bottom:-28px;
	zoom:0.75;
	transform:scale(0.75);
	-moz-transform: scale(0.75);
	-moz-transform-origin: 200px 500px;
	-ms-transform-origin: 500px 400px;
	-ms-transform: scale(0.9);
	
}
#city2{
	top:0;
	position:absolute;
	box-shadow:none !important;
}
#personas2{
	top:-10%;
	left:5%;
	position:absolute;
	-webkit-animation:hovering 1.75s infinite;
	-moz-animation:hovering 1.75s infinite;
	-ms-animation:hovering 1.75s infinite;
	animation:hovering 1.75s infinite;
}
#personas3{
	top:-10%;
	left:8%;
	position:absolute;
	-webkit-animation:personas2 1.25s infinite;
	-moz-animation:personas2 1.25s infinite;
	-ms-animation:personas2 1.25s infinite;
	animation:personas2 1.25s infinite;
}
#chevron{
	top:80%;
	left:4%;
	position:absolute;
}
#montana2{
	top:0;
	position:absolute;
	margin-top:-100px;
}
#personajes2, #meetup2{
	left:10%;
	top:0;
	position:absolute;
}

@-webkit-keyframes flor{
	0%{
		height:0px;
		left:52%;
		bottom:220px;
	}
	90%{
		height:0px;
		left:47.5%;
		bottom:188px;
	}
	100%{
		left:43.5%;
		height:70px;
		bottom:180px;
	}
}
@-moz-keyframesflor{
	0%{
		height:0px;
		left:52%;
		bottom:220px;
	}
	90%{
		height:0px;
		left:47.5%;
		bottom:188px;
	}
	100%{
		left:43.5%;
		height:70px;
		bottom:180px;
	}
}
@-ms-keyframes flor{
	0%{
		height:0px;
		left:52%;
		bottom:220px;
	}
	90%{
		height:0px;
		left:47.5%;
		bottom:188px;
	}
	100%{
		left:43.5%;
		height:70px;
		bottom:180px;
	}
}
@keyframes flor{
	0%{
		height:0px;
		left:52%;
		bottom:220px;
	}
	90%{
		height:0px;
		left:47.5%;
		bottom:188px;
	}
	100%{
		left:43.5%;
		height:70px;
		bottom:180px;
	}
}
@-webkit-keyframes personas2{
	0%{
		top:-14%;
	}
	50%{
		top:-16%;
	}
	100%{
		top:-14%;
	}
}
@-moz-keyframes personas2{
	0%{
		top:-14%;
	}
	50%{
		top:-16%;
	}
	100%{
		top:-14%;
	}
}
@-ms-keyframes personas2{
	0%{
		top:-14%;
	}
	50%{
		top:-16%;
	}
	100%{
		top:-14%;
	}
}
@keyframes personas2{
	0%{
		top:-14%;
	}
	50%{
		top:-16%;
	}
	100%{
		top:-14%;
	}
}
@-webkit-keyframes hovering{
	0%{
		top:-0%;
	}
	50%{
		top:-2.5%;
	}
	100%{
		top:-0%;
	}
}
@-moz-keyframes hovering{
	0%{
		top:-0%;
	}
	50%{
		top:-2.5%;
	}
	100%{
		top:-0%;
	}
}
@-ms-keyframes hovering{
	0%{
		top:-0%;
	}
	50%{
		top:-2.5%;
	}
	100%{
		top:-0%;
	}
}
@keyframes hovering{
	0%{
		top:-0%;
	}
	50%{
		top:-2.5%;
	}
	100%{
		top:-0%;
	}
}
@-webkit-keyframes hoja2{
	50%{
		height:0px;
	}
	70%{
		height:0px;
	}
	90%{
		height:44px;
	}
	100%{
		height:44px;
	}
}
@-moz-keyframes hoja2{
	50%{
		height:0px;
	}
	75%{
		height:0px;
	}
	90%{
		height:44px;
	}
	100%{
		height:44px;
	}
}
@-ms-keyframes hoja2{
	50%{
		height:0px;
	}
	75%{
		height:0px;
	}
	90%{
		height:44px;
	}
	100%{
		height:44px;
	}
}
@keyframes hoja2{
	50%{
		height:0px;
	}
	75%{
		height:0px;
	}
	90%{
		height:44px;
	}
	100%{
		height:44px;
	}
}
@-webkit-keyframes hoja1{
	50%{
		height:0px;
	}
	80%{
		height:44px;
	}
	100%{
		height:44px;
	}
}
@-moz-keyframes hoja1{
	50%{
		height:0px;
	}
	80%{
		height:44px;
	}
	100%{
		height:44px;
	}
}
@-ms-keyframes hoja1{
	50%{
		height:0px;
	}
	80%{
		height:44px;
	}
	100%{
		height:44px;
	}
}
@keyframes hoja1{
	50%{
		height:0px;
	}
	80%{
		height:44px;
	}
	100%{
		height:44px;
	}
}
@-webkit-keyframes tallo{
	0%{
		height:0px;
	}
	40%{
		height:0px;
	}
	100%{
		height:135px;
	}
}
@-moz-keyframes  tallo{
	0%{
		height:0px;
	}
	40%{
		height:0px;
	}
	100%{
		height:135px;
	}
}
@-ms-keyframes  tallo{
	0%{
		height:0px;
	}
	40%{
		height:0px;
	}
	100%{
		height:135px;
	}
}
@keyframes  tallo{
	0%{
		height:0px;
	}
	40%{
		height:0px;
	}
	100%{
		height:135px;
	}
}
@-webkit-keyframes shake{
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
@-moz-keyframes shake{
	0% { -moz-transform: translate(2px, 1px) rotate(0deg); }
	10% { -moz-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -moz-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -moz-transform: translate(0px, 2px) rotate(0deg); }
	40% { -moz-transform: translate(1px, -1px) rotate(1deg); }
	50% { -moz-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -moz-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -moz-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -moz-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -moz-transform: translate(2px, 2px) rotate(0deg); }
	100% { -moz-transform: translate(1px, -2px) rotate(-1deg); }
}
@-ms-keyframes shake{
	0% { -ms-transform: translate(2px, 1px) rotate(0deg); }
	10% { -ms-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -ms-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -ms-transform: translate(0px, 2px) rotate(0deg); }
	40% { -ms-transform: translate(1px, -1px) rotate(1deg); }
	50% { -ms-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -ms-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -ms-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -ms-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -ms-transform: translate(2px, 2px) rotate(0deg); }
	100% { -ms-transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes shake{
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.animatedHover{
	-webkit-animation:hovering 2s infinite;
	-moz-animation:hovering 2s infinite;
	-ms-animation:hovering 2s infinite;
	animation:hovering 2s infinite;
}
#tabletDiv{
	position:relative; height:100px; margin-bottom:50px;
}
#tablet{
	margin-top:50px;position:absolute; left:45%;
}
#footer{
	width:100%; padding:0; padding-top:50px; margin:0; height:200px; color:white; font-size:3em; 
}
a, a:hover{
	color:white !important;
	text-decoration: none !important;
}
#title{
	text-align:center;
	font-size:2.5em;
	font-weight:200;
}
#title b{
	font-weight:400;
}
#movil{
	margin-top:200px;
	position:relative;
}
#movilParagraph{
	position:absolute;
	text-align:center;
	font-size:0.66em;
	margin-top:50px;
	margin-bottom:150px;
}
#movilLine{
	width:100%;
	height:1px;
	/*margin-top:35px;*/
	box-shadow: 0 -3px 6px 1px rgba(75,75,75,0.25);
}
.m00{
	position:absolute;
}
#m01{
	left:60%;
	top:35%;
	-webkit-animation: movil 2.5s 2.25s;
	-moz-animation: movil 2.5s 2.25s;
	-ms-animation: movil 2.5s 2.25s;
	animation: movil 2.5s 2.25s;
}
#m02{
	-webkit-animation: movil 2s 2s;
	-moz-animation: movil 2s 2s;
	-ms-animation: movil 2s 2s;
	animation: movil 2s 2s;
	left:45.66%;
	top:-22%;
}
#m03{
	left:30.66%;
	top:50%;
	-webkit-animation: movil 2.75s 2.125s;
	-moz-animation: movil 2.75s 2.125s;
	-ms-animation: movil 2.75s 2.125s;
	animation: movil 2.75s 2.125s;
}
#m04{
	top:5%;
	left:37.6%;
	-webkit-animation: movil 2s 2.125s;
	-moz-animation: movil 2s 2.125s;
	-ms-animation: movil 2s 2.125s;
	animation: movil 2s 2.125s;
}
#m05{
	left:71.5%;
	top:50%;
	-webkit-animation: movil 2s 2.125s;
	-moz-animation: movil 2s 2.125s;
	-ms-animation: movil 2s 2.125s;
	animation: movil 2s 2.125s;
}
#m06{
	top:0%;
	left:54.3%;
	-webkit-animation: movil 1.5s 2.125s;
	-moz-animation: movil 1.5s 2.125s;
	-ms-animation: movil 1.5s 2.125s;
	animation: movil 1.5s 2.125s;
}
#m07{
	left:32.2%;
	top:28%;
	-webkit-animation: movil 1.25s 2.075s;
	-moz-animation: movil 1.25s 2.075s;
	-ms-animation: movil 1.25s 2.075s;
	animation: movil 1.25s 2.075s;
}
#m08{
	top:55%;
	left:16.6%;
	-webkit-animation: movil 1.5s 2.125s;
	-moz-animation: movil 1.5s 2.125s;
	-ms-animation: movil 1.5s 2.125s;
	animation: movil 1.5s 2.125s;
}
#m09{
	left:22.5%;
	top:35%;
	-webkit-animation: movil 1.125s 2.125s;
	-moz-animation: movil 1.125s 2.125s;
	-ms-animation: movil 1.125s 2.125s;
	animation: movil 1.125s 2.125s;
}
#m10{
	left:61%;
	top:14%;
	-webkit-animation: movil 1.125s 2.125s;
	-moz-animation: movil 1.125s 2.125s;
	-ms-animation: movil 1.125s 2.125s;
	animation: movil 1.125s 2.125s;
}
#m11{
	left:72%;
	top:30%;
	-webkit-animation: movil 1.125s 2.125s;
	-moz-animation: movil 1.125s 2.125s;
	-ms-animation: movil 1.125s 2.125s;
	animation: movil 1.125s 2.125s;
}
#m01:hover, #m02:hover, #m03:hover, #m04:hover,
#m05:hover, #m06:hover, #m07:hover, #m08:hover,
#m09:hover, #m10:hover, #m11:hover{
	-webkit-animation: movil2 2s;
	-moz-animation: movil2 2s;
	-ms-animation: movil2 2s;
	animation: movil2 2s;
}
#movilLineV{
	width:1px;
	height:50px;
	margin-top:200px;
}
.divComo{
    background:url(../images/infografia/empresas/como.png) no-repeat;
    background-size:contain;
    width:255px;
    height:51px;
    color:white;
    text-align:center;
    margin-top:0px;
    padding-top:1px;
    margin-left:28%;
}
.divComo h2{
	font-size:2em;
	font-weight:200;
	margin-left:-15px;
	margin-top:5px;
}
.divLeft{
	margin-left:15%;
	
}
.divRight{
	margin-left:85%;
}
#circlesLeft{
	position:absolute;
	left:0;
}
#circlesRight{
	position:absolute;
	right:0;
	margin-top:0px;
}
#devLineH{
	width:96.5%;
	height:1px;
	margin-top:35px;
	box-shadow: 0 12px 6px -6px rgba(75,75,75,0.25);
}
#lines{
	background:url(../images/infografia/empresas/linio.png);
	width:30px;
	height:2300px;
	margin-left:48%;
	position:absolute;
	z-index:10;
}
#arrows{
	background:url(../images/infografia/empresas/flechas.png);
	width:128px;
	height:83px;
	top:2300px;
	margin-left:38.7%;
	position:absolute;
}
#contamos{
	margin-top:250px;
}
#contamos h2{
	font-weight:200;
	font-size:3em;
	text-align: center;
}
#contamos h2 b{
	font-weight:300;
}
#contamos p{
	font-size:0.5em;
	font-weight:300;
}
#contamos #headerSmallCircle{
	margin-top:50px;
}
#contamos #headerLargeCircle{
	/*margin-top:150px;*/
}
#metodologias{
	margin-top:50px;
}
#metodologias > div > div > h2{
	font-size:3.5em;
	text-align:center;
	font-weight: 200;
}
#metodologias > div > .divComo> h2{
	font-size:2.5em;
	text-align:center;
	font-weight: 200;
}
#divs{
	height:200px;
}
#rapidos{
	background:url(../images/infografia/empresas/rapidos.png);
	background:contain;
	width:230px;
	height:51px;
	position:absolute;
	top:100px;
	left:25%;
}
#rapidos.active{
	transition: all 0.5s ease-in-out;
	top:-50px;
}
#rapidos p, #coordinados p, #sensibles p, #ligeros p{
	color:white;
	font-size:2em;
	text-align:center;
}
#movimiento p{
	color:white;
	font-size:1.5em;
	line-height: 2em;
	text-align:center;
}
#coordinados{
	background:#5f5f5f;
	width:260px;
	height:51px;
	position:absolute;
	left:0.5%;
	top:150px;
}

#movimiento{
	background:#55c3f8;
	width:260px;
	height:51px;
	position:absolute;
	left:46%;
	top:150;
}
#sensibles{
	background:#F7CF53;
	margin-left:30px;
	width:230px;
	height:51px;
	position:absolute;
	top:100px;
}
#ligeros{
	background:#4de592;
	width:230px;
	height:51px;
	position:absolute;
	left:46%;
	top:100px;
}
#coverdiv{
	position:absolute;
	background:white;
	height:200px;
	width:600px;
	left:-50px;
	top:100px;
	z-index:2;
}
#coordinados.active, #movimiento.active{
	transition: all 0.5s ease-in-out;
	top:0;
}
#sensibles.active, #ligeros.active{
	transition: all 0.5s ease-in-out;
	top:50px;
}
#metodologias > p{
	font-size:1.5em;
	font-weight:300;
	text-align: center;
	margin-bottom:75px;
	margin-top:-75px;
	z-index:20;
	position:absolute;
	left:15%;

}
#proyectos h2, #scrum h2, #desarrollado h2{
	font-size:3.5em;
	text-align:center;
	font-weight:200;
	margin-top:100px;
	margin-bottom:50px;
}
#scrum h2{
	margin-top:50px;
}
#scrum{
	margin-top:100px;
}
#desarrollado{
	margin-bottom:100px;
}
#proyectos > p{
	text-align: center;
	margin-top:100px;
	font-size:1.5em;
}
.redDiv{
	background:#fd6d6d;
	width:350px;
	height:60px;
	color:white;
	font-size:1.25em;
	text-align:center;
	padding:15px;
	text-decoration: underline;
	font-weight:400;
}
#woman{
	margin-top:50px;
	margin-bottom:-35px;
}
#lineLeft{
	height:1px;
	width:43%;
	float:left;
	margin-top:-10px;
}
#lineRight{
	height:1px;
	width:43%;
	float:right;
	margin-top:-10px;
}
#arrowContent{
	text-align:center;
}
#arrowContent h2{
	font-weight:300;
}
#arrowContent h2 > b{
	font-weight:500;
}
#yellowLine{
	position:absolute;  background:transparent; 
	border-left: 2px solid #fcfd6d; border-bottom:  2px solid #fcfd6d; 
	top:75%;left:-8%;z-index:2; left:105%; z-index:11;
	/*height:25%; width:82.5%;*/
	height:2px; width:0;
}
#yellowLine.active{
	transition: all 0.75s ease-in-out;
	width:82.5%;
	left:25%;
}
#yellowLine.final{
	transition:all 0.75s ease-in-out;
	height:25%;
	width:82.5%;
	top:50%;
	left:25%;
}
#blueLine{position:absolute; background:#55c3f8; height:5px; position:absolute;left:110%;top:39%; z-index:11;width:0;}
#blueLine.active{transition: all 2s ease-in-out;width:55%;left:55%}
#blueLine.final{width:55%;left:55%}

#yellowLine2{
	position:absolute; background:transparent; 
	border-left: 2px solid #fcfd6d; border-bottom:  2px solid #fcfd6d; 
	z-index:2; top:153.5%; z-index:11; left:109%;
	height:0; width:0%;
}
#yellowLine2.active{
	transition:all 0.75s ease-in-out;
	height:2px; width:49.5%;
	left:58%;	
	top:153.5%;
}
#yellowLine2.final{
	transition:all 0.75s ease-in-out;
	height:15%; width:49.5%;
	left:58%;top:140%
}
#redLine{position:absolute; width: 0; height:5px; background:linear-gradient(#fd5d5d,#fd8484); top:95.5%;left:-8%;z-index:2;}
#redLine.active{width:51.5%;transition: all 1.25s ease-in-out;}
#redline.final{width:51.5%;}

#greenLine{
	position:absolute;  background:transparent; 
	border-right: 2px solid #45e38c; border-bottom:  2px solid #45e38c; 
	top:82.5%;z-index:11; left:-14.5%;
	width:1%; height:2px;
}
#greenLine.active{
	transition: all 0.75s ease-in-out;
	width:39.5%;
	height:2px;
}
#greenLine.final{
	transition: all 0.75s ease-in-out;
	width:39.5%;
	height:15%;
	top:68%
}
#redLine2{position:absolute; height:5px; width:0;  background:#fd5d5d;margin-left:-15%; top:62.5%;}
#redLine2.active{ transition:  all 1.25s ease-in-out; width:32%;}
@-webkit-keyframes movil{
	0%{-webkit-transform:rotateY(0deg);}
	25%{-webkit-transform:rotateY(270deg);}
	50%{-webkit-transform:rorateY(180deg);}
	75%{-webkit-transform:rorateY(90deg);}
	100%{-webkit-transform:rorateY(0deg);}
}
@-moz-keyframes movil{
	0%{-moz-transform:rotateY(0deg);}
	25%{-moz-transform:rotateY(270deg);}
	50%{-moz-transform:rorateY(180deg);}
	75%{-moz-transform:rorateY(90deg);}
	100%{-moz-transform:rorateY(0deg);}
}
@-ms-keyframes movil{
	0%{-ms-transform:rotateY(0deg);}
	25%{-ms-transform:rotateY(270deg);}
	50%{-ms-transform:rorateY(180deg);}
	75%{-ms-transform:rorateY(90deg);}
	100%{-ms-transform:rorateY(0deg);}
}
@keyframes movil{
	0%{transform:rotateY(0deg);}
	25%{transform:rotateY(270deg);}
	50%{transform:rorateY(180deg);}
	75%{transform:rorateY(90deg);}
	100%{transform:rorateY(0deg);}
}

@-webkit-keyframes movil2{
	0%{-webkit-transform:rotateY(0deg);}
	25%{-webkit-transform:rotateY(270deg);}
	50%{-webkit-transform:rorateY(180deg);}
	75%{-webkit-transform:rorateY(90deg);}
	100%{-webkit-transform:rorateY(0deg);}
}
@-moz-keyframes movil2{
	0%{-moz-transform:rotateY(0deg);}
	25%{-moz-transform:rotateY(270deg);}
	50%{-moz-transform:rorateY(180deg);}
	75%{-moz-transform:rorateY(90deg);}
	100%{-moz-transform:rorateY(0deg);}
}
@-ms-keyframes movil2{
	0%{-ms-transform:rotateY(0deg);}
	25%{-ms-transform:rotateY(270deg);}
	50%{-ms-transform:rorateY(180deg);}
	75%{-ms-transform:rorateY(90deg);}
	100%{-ms-transform:rorateY(0deg);}
}
@keyframes movil2{
	0%{transform:rotateY(0deg);}
	25%{transform:rotateY(270deg);}
	50%{transform:rorateY(180deg);}
	75%{transform:rorateY(90deg);}
	100%{transform:rorateY(0deg);}
}
#chipmanos, #bombillo, #reloj, 
#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8,
#moneda1, #moneda2, #moneda3, #hoja, #check, #g4, #flecha,
#python, #php, #java, #javascript, #html5, #ios, #android, #unity, #chrome, #firefox,
#bcontext, #regala, #ringtu, #trixtrax{
	transition: all 3s ease-in-out;
	opacity:0;
}
#chipmanos.active, #bombillo.active, #reloj.active, #b1.active, 
#b2.active, #b3.active, #b4.active, #b5.active, #b6.active, 
#b7.active, #b8.active, #moneda1.active, #moneda2.active, #moneda3.active, #hoja.active, #check.active, #g4.active, #flecha.active,
#python.active, #php.active, #java.active, #javascript.active, #html5.active, #ios.active, #android.active, #unity.active, #chrome.active, #firefox.active,
#bcontext.active, #regala.active, #ringtu.active, #trixtrax.active{
	transition: all 3s ease-in-out;
	opacity:1;
}
